.left{
	float : left;
}
.right{
	float : right;
}
#img_convenction{
	width:60%;
}
#descrizione{
	
}
#contenuto_testo{
	right:5%;
	margin-top:5%;
}
#contenuto_img{
	left: 5%;
    margin-top: 2%;
}
#contenuto_allegati{
	left:5%;
}
ul{	
	list-style-type: none;
}
#carouselExampleIndicators{
	width:80%;
}	
